@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$aux: 'Bebas Neue', cursive;
$fuente_principal: 'Anton', sans-serif;

body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fuente_principal;
}
h1{
    font-size: 3rem;
}