#gh{
    position: relative;
    height: 40vh;
}
.fondo-house{
    background-image: url("../images/gaming.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.8);
}
.house-title{
    color: rgb(255, 224, 46);
    text-align: center;
}